body{
    margin: 0;
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    width:20%;
    filter:drop-shadow(4px 4px 4px );
    border-radius: 1rem;
    background-color: #fff6f6;
    margin: auto auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color: burlywood;
}
input{
    margin: 0;
    width:15rem;
    height:2rem;
    padding: 0 0.5rem ;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 1.1rem;

}
label {
    display: block;
    margin:  0;

}

button[type="submit"] {
    display: block;
    width: 90%;
    margin:0;
    height: 2em;
    font-size: 1.1rem;
    /*background-color:white;*/
    text-align: center;
    border-radius: 0.5rem;

}
.singup{
    margin: 0;
    text-align: center;
}