<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/login.css">
<title>LOGIN PAGE</title>
</head>
<body>
<div class="grid-container">
  <div class="grid-item"><img src="/login.jpeg" alt="" width="100%"></div>
  <div class="grid-item">
    <h1>LOGIN</h1>
    <div class="innerdiv">
        <input type="text" placeholder="Enter your ID">
        <br>
        <input type="text" placeholder="Enter your password">
        <br>
        <button type="submit">Login</button>
    </div>
    </div>
</div>
</body>
</html>
