<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage staff</title>
    <link rel="stylesheet" href="/mng-staff.css">
</head>
<body>
    <div id="navigation">
        <p id="logo-txt">Manage Staff</p>
        <div id="nav-btns-cont">
            <button id="new-btn" class="nav-btns" onclick="toggleDialog()">Add Staff</button>
        </div>
        <button id="logout">
            <img src="/logout.svg" alt="">
        </button>
    </div>
    <hr>
    <div id="table">
        <% for(let i = 0; i < staff.length; i++) { %>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>">
                <div><%= staff[i].ID %></div>
                <div><%= staff[i].name %></div>
            </div>
        <% } %>
    </div>
    
</body>
</html>