<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Manage staff</title>
    <link rel="stylesheet" href="/mng-staff.css">
</head>
<body>
    <dialog>
        <h2>Admit New Student</h2>
        <hr>
        <button id="dig-x" onclick="toggleDialog()"></button>
        <form action="/student/new" method="post">
            <div id="dig-name">
                <input type="text" name="name" placeholder="Enter student name" value="Kiaan">
            </div>

    </dialog>
    <div id="navigation">
        <p id="logo-txt">Manage Staff</p>
        <button id="logout" onclick="document.location.href='/staff'">
            <img src="/home.svg" alt="">
        </button>
    </div>
    <hr>
    <div id="table">
        <% for(let i = 0; i < staff.length; i++) { %>
            <div class="<%= i%2 != 0 ? 'light-grey' : ''%>">
                <div>
                    <div><%= staff[i].ID %></div>
                    <div><%= staff[i].name %></div>
                </div>
                <button>Manage Access</button>
            </div>
        <% } %>
    </div>
    
</body>
</html>