<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Staff</title>
</head>
<body>
    <dialog id="do">
        <form action="">
            
        </form>
    </dialog>
    <button id="" onclick="document.getElementById('do').showModal()" >show</button>
</body>
</html>