<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/staff.css">
    <title>Staff</title>
</head>
<body>
    <nav>
        <p>Dashboard</p>
        <img src="/logout.svg" alt="" id="logout">
    </nav>
    <hr>
    <div>
        <div class="gridcontainer">
            <div class="griditem">
                <p id="subcode">21CS51</p>
                <p id="sub">Automata theory</p>
                <p id="class"> Class A</p>

            </div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
        </div>
    </div>
</body>
</html>