body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
}

 .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%; 
     
    
  }
  
  .grid-item {
    background-color: #cdb4db;
    padding: 20px;
    text-align: center; 

  }
  
.innerdiv{
    width:40vw;
     height: 60vh; 
    background-color:#a2d2ff;
    margin: 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    
}
 
  input{
    width:20rem;
    height: 2.5rem;
    font-size: larger;
    font-weight: 100;
    
  }
  input[type="text"] {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
    border: 1px solid #ccc; /* Adding border */
    padding: 10px; /* Adding padding */
    margin-bottom: 10px; /* Adding margin bottom for spacing */
  }
  button{
    width:10rem;
    height: 2.5rem;
    font-size: larger;
    font-weight: 100;
  }
  button[type="submit"] {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */
    border: none; /* Removing default button border */
    padding: 10px 20px; /* Adding padding */
    background-color: rgb(244, 218, 218); /* Adding background color */
    color: black; /* Setting text color */
    cursor: pointer; /* Changing cursor to pointer on hover */
    transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
  }
  
  button[type="submit"]:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Changing shadow on hover */
  }