body{
    margin: 0px;
    width: 100vw;
    height: 100vh;

    
}
h1{
    color: white;
}
 .grid-container {
    display: grid;
     height: 100vh; 
    grid-template-columns: 50% 50%; 
     
  }
  
  .grid-item {
    background-color: #00A9FF;
    padding: 20px;
    text-align: center; 

  }
  
.innerdiv{
    width:40vw;
     height: 60vh; 
    background-color:white;
    margin: 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  
    
}
  input{
    width:20rem;
    height: 2.5rem;
    font-size: larger;
    font-weight: 100;
    
  }
  input[type="text"] {
    box-shadow: 0px 0px 10px #CDF5FD; 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
  }
  button{
    width:20rem;
    height: 2.5rem;
    font-size: larger;
    font-weight: 100;
  }
  button[type="submit"] {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border: none; 
    padding: 10px 20px; 
    background-color:#CDF5FD; 
    color: black; 
    cursor: pointer; 
    transition: box-shadow 0.3s ease; 
  }
  
  button[type="submit"]:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  }