body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

 .grid-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-gap: 10px; 
    background-color: blue;
  }
  
  .grid-item {
    background-color: brown;
    padding: 20px;
    text-align: center; 
  }
  
.innerdiv{
    width:50vw;
    height: 50vh;
    background-color: aqua;
    margin: 0px;
}
