*{
    font-family: "Inter",sans-serif;
}
:root {
    --header-color: #ccc;
    --header-color-light:#ccc;
    --table-display: none;
    --personal-display: flex;
}
#navigation{
    background-color: white;
    height: 12vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

body{
    
    margin:0;
    display: flex;
    flex-direction: column;
}
.sem-btn{
    
    aspect-ratio: 1 / 1;
    border-radius: 50%;

}
.nav-btns{
    height: 50%;
    /* font-size: 1.2rem; */
    font-size: 120%;
    border: 0;
    outline: 1px solid transparent;
    outline-offset: -2px;
    transition: 300ms;
    cursor: pointer;
}
.nav-btns:hover{
    outline: 1px solid grey;
    outline-offset: 0.25rem;
    
}
#new-btn{
    aspect-ratio: 4.5 / 1;
    border-radius: 2rem;
    background-color: #ffdab9;
}
#nav-btns-cont{
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap:1rem;
    justify-content: end;
    margin-inline: 2rem;
}
#logout{
    height: 50%;
    aspect-ratio: 1 / 1;
    background: transparent;
    border: 0;
    transition: 300ms;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: -2px;
}
#logout:hover{
    outline: 1px solid grey;
    outline-offset: 0.25rem;
    background-color: rgba(0, 0, 0, 0.1);
}
#logo-txt{
    font-family: "Inknut Antiqua", serif;
    font-size: 2rem;
    margin: 0;
}
hr{
    margin: 0;
    place-self: center;
    width: calc(100vw - 6rem);
    box-sizing: border-box;
}
#Info-grid{
    display: grid;
    background-color: bisque;
    height:80%;
    flex-grow: 1;
    grid-template-columns: repeat(15,auto);
    grid-auto-rows: 2rem;
    gap: 0.5rem;
}

#btn1{
    background-color: #A5FCCC;
}
#btn2{
    background-color: pink;
}
#btn3{
    background-color:#F5D076 ;
}
#btn4{
    background-color:#F5AD7C ;
}
#btn5{
    background-color:#D0EFFA ;
}
#btn6{
    background-color: #76DBF5;
}
#btn7{
    background-color:#aab6cc ;
}
#btn8{
    background-color: #e3a3b6;
}
#table-container{
    background-color: white;
    gap: 1px;
    display: var(--table-display);
    align-items: flex-start;
    padding: 2rem 2rem;
}

.hr2{
    grid-row: span 2;
}
.hc4{
    grid-column: span 4;
}
.hc3{
    grid-column: span 3;
}
.hc2{
    grid-column: span 2;
}
hr{
    margin: 0;
    place-self: center;
    width: calc(100vw - 6rem);
    box-sizing: border-box;
}


dialog{
    border-radius: 1rem;
    padding-block: 3rem;
    padding-top: 2rem;
}
#dig-x{
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    box-sizing: border-box;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    background-image: url("/x.svg");
    background-color: transparent;
}
#dig-x:hover{
    background-color: #cccccc44;
}
dialog > h2{
    margin: 0;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
}

dialog > form{
    margin-block-start: 2rem;
    padding-inline: 2.5rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 2rem;
}
dialog > form   input, select, textarea{
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: 1px solid grey;
    transition: 250ms;
    border-radius: 0.25rem;
    border: none;
    flex-shrink: 1;
}
dialog > form  input:focus, select:focus, textarea:focus{
    border: none;
    outline: 1px solid grey;
    outline-offset: 0.25rem;
}
select{
    padding: 0.25rem;
}
dialog > form label{
    font-size: 1rem;
}
#dig-name{
    grid-column: span 4;
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#dig-name > input{
    width: 60%;
}
dialog form div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
#blood-sel{
    padding-inline: 0.5rem;
}
#tdiv {
    grid-row: span 2;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
}
#tdiv > label{
    margin-inline-start: calc(5% - 0.5rem);
    align-self: flex-start;
}
#tdiv > textarea{
    width: 90%;
    resize: none; 
    flex-grow: 1;

}
#df2{
    grid-column: span 4;
    justify-content: space-between;
}

#ph{
    grid-column: span 4;
    justify-content: space-between;
}
#ph #div1{
    justify-content: start;
}
#ph #div2{
    justify-content: end;
}
#ph  input{
    width: 60%;
}

form > button{
    grid-column: span 4;
    justify-self: center;
    width: 50%;
    height: 3rem !important;
    border-radius: 3rem;
    background-color: #03abff9b;
}
dialog > hr{
    width: 40vw !important;
    margin: 1rem auto;
}

#table{
    display: grid;
    grid-template-columns: 6rem auto auto;
    grid-auto-rows: 3rem;
    margin: 2rem;
    box-sizing: border-box;
    border: 1px solid black;
    align-items: center;
}

#table > div{
    height: 3rem;
    display: flex;
    align-items: center;
}
#table > .si{
    padding-inline-start: 1rem;
    box-sizing: border-box;
}
.light-grey{
    background-color: hsla(0, 0%, 80%, 0.2);
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-radius: 0;
  border-image-source: linear-gradient(180deg, #fff 0%, #03aaff 45%, #03aaff 55%, #fff 100%);;
}
.thead-div{
    background-color:rgb(243, 177, 90);
}