* {
    font-family: "Inter", sans-serif;
  }
body{
    margin: 0;
    height: 100vh;
    background-color: rgba(220, 238, 194, 0.267);
}
nav{
    height: 10vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    align-items: center;
    justify-content:space-between;
    
    
}
p{
    margin: 0;
    font-size: 2.5rem;
}
#logout{
    height: 50%;
    aspect-ratio: 1 / 1;
    background: transparent;
    border: 0;
    transition: 300ms;
    border-radius: 0.5rem;
    cursor: pointer;
}
#logout:hover{
    outline: 1px solid grey;
    outline-offset: 0.25rem;
    background-color: rgba(0, 0, 0, 0.1);
}
hr{
    margin: 0;
    place-self: center; 
    margin:0 3rem;
    box-sizing: border-box;
}
.gridcontainer{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2.5rem;
    
    
}
.griditem{
    height: 15rem;
    background-color: rgb(230, 230, 250); 
    border-radius:1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
    gap:1rem;
    box-sizing: border-box;
}
/* .griditem > * {
    text-align: center;

} */
.griditem > div{
    display: flex;
    justify-content: flex-end;
    padding-inline: 1rem;
    gap: 0.5rem;
}
.item-btns{
    background-color:transparent;
    border: none;
    aspect-ratio: 1 / 1;
    padding: 0.25rem;
    border-radius: 0.5rem;
    
}
.item-btns > img{
    height: 100%;
}
.item-btns:hover{
    background-color: rgba(0, 0, 0, 0.1);
    
}

#subcode{
    font-size: 1.7rem;
}
#sub{
    font-size: 2rem;
}
#class{
    font-size: 1.5rem;
}
